@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #__next {
    overflow-x: hidden;
    width: 100%;
  }
}


/* This style will apply a line under the text */
.group::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #230562; /* Tailwind indigo-600 or any color you prefer */
    transition: width 0.3s ease-in-out;
    font-weight: 400;
  }
  
  .group:hover::after {
    width: 100%;
  }
  
  